{% extends "base.html" %}
{% block content %}

<section class="inner-page">
  <h1 class="inner-title">Itinerary</h1>

  <h2 class="inner-date"><b>September 18, 2026</b></h2>
  <h3 class="inner-event"><i>Traditional Sikh Ceremony</i></h3>
  
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-time">9:30AM</div>
      <div class="timeline-body">
        <h3>Family Reception</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-time">10AM</div>
      <div class="timeline-body">
        <h3>Breakfast</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-time">11AM</div>
      <div class="timeline-body">
        <h3>Anand Karaj</h3>
        <h3><a href="https://en.wikipedia.org/wiki/Anand_Karaj">What is an Anand Karaj?</a></h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-time">1PM</div>
      <div class="timeline-body">
        <h3>Lunch</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-time">4PM</div>
      <div class="timeline-body">
        <h3>Doli</h3>
      </div>
    </div>
  </div>

  <h2 class="inner-date"><b>September 19, 2026</b></h2>
  <h3 class="inner-event"><i>Wedding Reception</i></h3>
  
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-time">4PM</div>
      <div class="timeline-body">
        <h3>Cocktail Hour</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-time">5PM</div>
      <div class="timeline-body">
        <h3>Dinner</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-time">6PM - 9PM</div>
      <div class="timeline-body">
        <h3>Dancing, Cake, Etc.</h3>
      </div>
    </div>
  </div>
</section>

{% endblock %}