{% extends "base.html" %}
{% block content %}

<section class="inner-page">
  <h1 class="inner-title">Locations</h1>

  <div class="location-cards">
    <div class="location-card">
      <h3>Anand Karaj</h3>
      <p>Blue Mountain Gurudwara</p>
      <p>362 Schubert Road, Bethel PA, 19507</p>
      <a href="https://maps.app.goo.gl/8PoxG5pXu3DE6osy9" target="_blank" class="map-link">
        Open in Maps →
      </a>
    </div>
    <div class="location-card">
      <h3>Wedding Reception</h3>
      <p>The South Mountain Inn and Wedding Venue</p>
      <p>143 N Galen Hall Rd, Wernersville, PA 19565</p>
      <a href="https://maps.app.goo.gl/RerAnBGojDGGCuN77" target="_blank" class="map-link">
        Open in Maps →
      </a>
    </div>
  </div>
</section>

<section class="photos">
    <div class="photo-grid">
      <div class="photo">
        <img src="{{ url_for('static', filename='images/bridge.jpg') }}"
            alt="Karanpreet and Caleb"/>
      </div>
    </div>
</section>

{% endblock %}