{% extends "base.html" %}
{% block content %}

<section class="inner-page">
  <h1 class="inner-title">Registry</h1>
  <h3 class="section-title reveal" style="color:black;">We are saving money for a couch and trip to Italy; any gift is appreciated. Thank you!</h3>

  <div class="photos">
    <div class="photo-grid">
      <div class="photo">
        <img src="{{ url_for('static', filename='images/venmo.jpg') }}"
            alt="Karanpreet and Caleb"/>
      </div>
      <div class="photo">
        <img src="{{ url_for('static', filename='images/walking_couple.jpg') }}"
            alt="Karanpreet and Caleb"/>
      </div>
      <div class="photo">
        <img src="{{ url_for('static', filename='images/cashApp.png') }}"
            alt="Karanpreet and Caleb"/>
      </div>
    </div>
    </div>
  </section>

{% endblock %}